
/****** Global styling ******/

body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  color: #202e51;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  min-width: 350px;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.2rem;
  font-weight: 900;
  margin-top: 0;
}

p {
  opacity: 0.75;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.7;
}



/****** Card styling ******/

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 300px;
  width: 500px;
  border-radius: 30px;
  margin: 40px;
}



/****** Hero image ******/

.img-hero {
  border-radius: 30px 30px 0 0;
}



/****** Card content ******/

.content-hero {
  margin: 3rem;
}

.content-hero-description {
  padding: 0 1rem;
}



/****** Plan picker card ******/

.plan-picker {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fe;
  border-radius: 15px;
  margin: 2rem auto;
}


/*** Left part: icon + plan info ***/

.plan-picker-left {
  display: flex;
  justify-content: flex-end;
}

.plan-picker img {
  align-self: center;
  margin: 1.5rem;
}

.plan-picker-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan-picker-description h3 {
  margin: 0.1rem;
}

.plan-picker-description p {
  margin: 0.1rem;
  text-align: left;
}


/*** Right part: "Change" button ***/

.plan-picker a {
  align-self: center;
  margin: 1.5rem;
}

.plan-picker a:active  {
  color: #766cf1;
  text-decoration: none;
}



/****** Buttons ******/

button {
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 20px;
  padding: 1.2rem;
}


/*** Specified button styling ***/

.button-proceed {
  background: #342cdf;
  color: #fff;
  box-shadow: 0 20px 20px #dfdaf8;
  z-index: 2;
  position: relative;
  transition: background 0.5s;
}

.button-proceed:active {
  background: #766cf1;
  cursor: pointer;
}

.button-cancel {
  background: #fff;
  color: gray;
  margin-top: 0.5rem;
  transition: color 0.5s;
}

.button-cancel:active {
  color: #202e51;
  cursor: pointer;
}



/****** Media Queries ******/

/*** Mobile states ***/

@media (hover:hover) {
  .plan-picker a:hover {
    color: #766cf1;
    text-decoration: none;
  }

  .button-proceed:hover {
    background: #766cf1;
    cursor: pointer;
  }

  .button-cancel:hover {
    color: #202e51;
    cursor: pointer;
  }
}


/*** Screen sizing ***/

@media (max-width: 550px){
  html {
    font-size: 14px;
  }
}

@media (max-width: 450px){
  html {
    font-size: 13px;
  }

  .content-hero {
    margin: 2.5rem;
  }
}

@media (max-width: 400px){
  html {
    font-size: 12px;
  }
}
